---
layout: default
title: Path Tag Cloud
---

<h2 class="mb-4">Path Tag Cloud</h2>

<p class="mb-4">This is a list of top paths identified from spidering the VA website.</p>

{% assign topics = site.data.path_tag_cloud %}
<div id="topiccloud" class="wordcloud">
  {% for topic in topics %}

    {% if topic.path_count > 10000 %}
      {% assign path_value = 10 %}
    {% endif %}
    {% if topic.path_count > 3000 and topic.path_count < 10000 %}
      {% assign path_value = 9 %}
    {% endif %}
    {% if topic.path_count > 2000 and topic.path_count < 5000 %}
      {% assign path_value = 8 %}
    {% endif %}
    {% if topic.path_count > 1000 and topic.path_count < 4000 %}
      {% assign path_value = 7 %}
    {% endif %}
    {% if topic.path_count > 500 and topic.path_count < 1000 %}
      {% assign path_value = 6 %}
    {% endif %}
    {% if topic.path_count < 500 %}
      {% assign path_value = 4 %}
    {% endif %}

    <span data-weight="{{ path_value }}">
      {{ topic.path }}
    </span>
  {% endfor %}
</div>
