---
layout: default
title: JSON Tag Cloud
---

<h2 class="mb-4">JSON Tags Cloud</h2>

<p class="mb-4">This is a list of top keywords from across all JSON files identified from spidering the VA website.</p>

{% assign topics = site.data.json_tag_cloud %}
<div id="topiccloud" class="wordcloud">
  {% for topic in topics %}

  {% if topic.word_count > 100 %}
    {% assign path_value = 10 %}
  {% endif %}
  {% if topic.word_count > 90 and topic.word_count < 100 %}
    {% assign path_value = 9 %}
  {% endif %}
  {% if topic.word_count > 70 and topic.word_count < 90 %}
    {% assign path_value = 8 %}
  {% endif %}
  {% if topic.word_count > 60 and topic.word_count < 70 %}
    {% assign path_value = 7 %}
  {% endif %}
  {% if topic.word_count > 50 and topic.word_count < 60 %}
    {% assign path_value = 6 %}
  {% endif %}
  {% if topic.word_count > 20 and topic.word_count < 50 %}
    {% assign path_value = 5 %}
  {% endif %}
  {% if topic.word_count > 10 and topic.word_count < 20 %}
    {% assign path_value = 4 %}
  {% endif %}
  {% if topic.word_count > 5 and topic.word_count < 10 %}
    {% assign path_value = 3 %}
  {% endif %}
  {% if topic.word_count > 3 and topic.word_count < 5 %}
    {% assign path_value = 2 %}
  {% endif %}
  {% if topic.word_count < 3 %}
    {% assign path_value = 1 %}
  {% endif %}

    <span data-weight="{{ path_value }}">
      {{ topic.word }}
    </span>
  {% endfor %}
</div>
