---
layout: default
title: State Domains Tag Cloud
---

<h2 class="mb-4">State Domains Tag Cloud</h2>

<p class="mb-4">This is a tag cloud of state subdomains currently identified as part of the harvesting.</p>

{% assign topics = site.data.domains_state %}
<div id="topiccloud" class="wordcloud">
  {% for topic in topics %}

  {% if topic.domain_count > 3000 %}
    {% assign path_value = 10 %}
  {% endif %}
  {% if topic.domain_count > 2000 and topic.domain_count < 3000 %}
    {% assign path_value = 9 %}
  {% endif %}
  {% if topic.domain_count > 1000 and topic.domain_count < 2000 %}
    {% assign path_value = 8 %}
  {% endif %}
  {% if topic.domain_count > 500 and topic.domain_count < 1000 %}
    {% assign path_value = 7 %}
  {% endif %}
  {% if topic.domain_count > 100 and topic.domain_count < 500 %}
    {% assign path_value = 6 %}
  {% endif %}
  {% if topic.domain_count < 100 %}
    {% assign path_value = 1 %}
  {% endif %}

    <span data-weight="{{ path_value }}">
      {{ topic.domain }}
    </span>
  {% endfor %}
</div>
