---
layout: default
title: City Domains Tag Cloud
---

<h2 class="mb-4">City Domains Tag Cloud</h2>

<p class="mb-4">This is a tag cloud of city-level subdomains currently identified as part of the harvesting.</p>

{% assign topics = site.data.domains_city %}
<div id="topiccloud" class="wordcloud">
  {% for topic in topics %}

  {% if topic.domain_count > 100000 %}
    {% assign path_value = 10 %}
  {% endif %}
  {% if topic.domain_count > 2500 and topic.domain_count < 100000 %}
    {% assign path_value = 9 %}
  {% endif %}
  {% if topic.domain_count > 2000 and topic.domain_count < 2500 %}
    {% assign path_value = 8 %}
  {% endif %}
  {% if topic.domain_count > 1500 and topic.domain_count < 2000 %}
    {% assign path_value = 7 %}
  {% endif %}
  {% if topic.domain_count > 1000 and topic.domain_count < 1500 %}
    {% assign path_value = 6 %}
  {% endif %}
  {% if topic.domain_count > 500 and topic.domain_count < 1000 %}
    {% assign path_value = 5 %}
  {% endif %}
  {% if topic.domain_count > 250 and topic.domain_count < 500 %}
    {% assign path_value = 4 %}
  {% endif %}
  {% if topic.domain_count > 100 and topic.domain_count < 250 %}
    {% assign path_value = 3 %}
  {% endif %}
  {% if topic.domain_count < 100 %}
    {% assign path_value = 1 %}
  {% endif %}

    <span data-weight="{{ path_value }}">
      {{ topic.domain }}
    </span>
  {% endfor %}
</div>
