---
layout: default
title: Form Tag Cloud
---

<h2 class="mb-4">Form Tag Cloud</h2>

<p class="mb-4">This is a list of forms identified from spidering the VA website.</p>

{% assign topics = site.data.form_tag_cloud %}
<div id="topiccloud" class="pathcloud">
  {% for topic in topics %}

    {% if topic.word_count > 10000 %}
      {% assign path_value = 10 %}
    {% endif %}
    {% if topic.word_count > 5000 and topic.word_count < 10000 %}
      {% assign path_value = 9 %}
    {% endif %}
    {% if topic.word_count > 4000 and topic.word_count < 5000 %}
      {% assign path_value = 8 %}
    {% endif %}
    {% if topic.word_count > 3000 and topic.word_count < 4000 %}
      {% assign path_value = 7 %}
    {% endif %}
    {% if topic.word_count > 2000 and topic.word_count < 3000 %}
      {% assign path_value = 6 %}
    {% endif %}
    {% if topic.word_count > 1000 and topic.word_count < 2000 %}
      {% assign path_value = 5 %}
    {% endif %}
    {% if topic.word_count > 500 and topic.word_count < 1000 %}
      {% assign path_value = 4 %}
    {% endif %}
    {% if topic.word_count > 250 and topic.word_count < 500 %}
      {% assign path_value = 3 %}
    {% endif %}
    {% if topic.word_count > 100 and topic.word_count < 250 %}
      {% assign path_value = 2 %}
    {% endif %}
    {% if topic.word_count < 100 %}
      {% assign path_value = 1 %}
    {% endif %}

    <span data-weight="{{ path_value }}">
      {{ topic.word }}
    </span>
  {% endfor %}
</div>
