---
layout: default
title: All Tag Clouds
---

<h2 class="mb-4">All Tag Clouds</h2>

<p class="mb-4">This is a list of top tags across all pages processed so far.</p>
{% assign topics = site.data.all_tag_cloud %}

<div id="topiccloud" class="wordcloud">
  {% for topic in topics %}

  {% if topic.word_count > 10000 %}
    {% assign path_value = 10 %}
  {% endif %}
  {% if topic.word_count > 5000 and topic.word_count < 10000 %}
    {% assign path_value = 9 %}
  {% endif %}
  {% if topic.word_count > 2000 and topic.word_count < 5000 %}
    {% assign path_value = 8 %}
  {% endif %}
  {% if topic.word_count > 1000 and topic.word_count < 5000 %}
    {% assign path_value = 7 %}
  {% endif %}
  {% if topic.word_count > 500 and topic.word_count < 1000 %}
    {% assign path_value = 6 %}
  {% endif %}
  {% if topic.word_count > 100 and topic.word_count < 500 %}
    {% assign path_value = 5 %}
  {% endif %}
  {% if topic.word_count > 50 and topic.word_count < 100 %}
    {% assign path_value = 4 %}
  {% endif %}
  {% if topic.word_count < 50 %}
    {% assign path_value = 3 %}
  {% endif %}

    <span data-weight="{{ path_value }}">
      {{ topic.word }}
    </span>
  {% endfor %}
</div>
