---
---

@import "variables";
@import "bootstrap/bootstrap";

a {text-decoration: underline;}
.navbar-brand {text-decoration: none;}

.wordcloud {
  border: 0px solid #FFF;
  height: 8in;
  margin: 5px auto;
  padding: 0;
  page-break-after: always;
  page-break-inside: avoid;
  width: 90%;
}

.report {
  img {
    max-width: 100%;
    height: auto;
  }
}
